<div class="card">
  <div class="card-body">
    <!--Form Group-->
    <form [formGroup]="infoMechForm"
    >

      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="horsepower">horsepower</label>
        <!--Box Text-->
        <input type="number" id="horsepower" class="form-control" placeholder="Write your horsepower"
               formControlName="horsepower">
      </div>
      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="engineDisplacement">engineDisplacement</label>
        <!--Box Text-->
        <input type="number" id="engineDisplacement" class="form-control" placeholder="Write your engineDisplacement"
               formControlName="engineDisplacement">
      </div>
      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="transmission">transmission</label>
        <!--Box Text-->
        <input type="text" id="transmission" class="form-control" placeholder="Write your transmission"
               formControlName="transmission">
      </div>
      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="fuelType">fuelType</label>
        <!--Box Text-->
        <input type="text" id="fuelType" class="form-control" placeholder="Write your fuelType"
               formControlName="fuelType">
      </div>
      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="traction">traction</label>
        <!--Box Text-->
        <input type="number" id="traction" class="form-control" placeholder="Write your traction"
               formControlName="traction">
      </div>
      <!--Box-->
      <div class="mb-2">
        <!--Box Label-->
        <label class="form-label" for="steering">steering</label>
        <!--Box Text-->
        <input type="text" id="steering" class="form-control" placeholder="Write your steering"
               formControlName="steering">
      </div>

    </form>
  </div>
</div>
